@font-face {
    font-family: Architects;
    src: url(../css/fonts/Architects_Daughter/ArchitectsDaughter-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to right bottom, #18A2C9, #72C380);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 1px solid #ffffff; */
}

.container--flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-header__image-perfil {
    width: 100px;
    padding: 20px;

    box-shadow: 0 0 7px rgba(222, 210, 124, 0.2);
}

.form-header__title {
    color: #DED27C;
    font-family: Architects;
}

.form-header__text {
    font-family: 'Courier New', Courier, monospace;
}

/*formulario de contato*/

.form-contact {
    padding: 20px;
}

.form-contact__linha {
    display: flex;
    justify-content: space-between;
    width: 100%;
    
    /* border: 1px solid yellowgreen; */
}

.form-contact__col-a{
    width: 10%;
    height: 100%;
    /* border: 1px solid red; */
}

.form-contact__col-b{
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 100%;
    /* border: 1px solid red; */
}

.form-contact__label {
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
}

.form-contact__input {
    padding: 5px 10px;
    height: 35px;
    color: #18A2C9;
    border: none;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    outline: none;
    border-radius: 3px;
    transition: background-color 0.4s, color 0.4s;
}
.form-contact__input::placeholder {
    color: #18A2C9;
    opacity: 0.7;
}

.form-contact__input:focus {
    background-color: #18A2C9;
    color: white;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.4);
}

.form-contact__input--metade {
    width: 48%;
}